<a href="https://colab.research.google.com/github/zenilist/DataAnalytics/blob/main/Uploading_and_Processing_Data_and_List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Uploading and Processing Data**

1. Upload data from cars.docx file to python

In [ ]:
import pandas as pd

#convert docx file to plain txt file then upload it to git, use the link of the raw file from git as the source of the dataset
df = pd.read_csv('https://raw.githubusercontent.com/zenilist/DataAnalytics/main/cars-sample35.txt')

#header names of the dataset stored in a list
names = ['Price', 'Maintenance cost', 'Number of doors', 'Number of passengers', 'Luggage capacity', 'Safety rating', 'Classification of vehicle']
df.columns = names
#df.head()
#prints the dataset
df.describe()

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
count,34,34,34,34,34,34,34
unique,4,4,4,3,3,3,3
top,high,low,2,2,big,high,unacc
freq,10,16,10,16,14,12,26

2. Extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. In other words, you should have lists of prices, maintenance costs, number of doors, etc

In [ ]:
#to_list function to convert datasets column headers to lists
price = df['Price'].to_list()
maintenance_cost = df['Maintenance cost'].to_list()
number_of_doors = df['Number of doors'].to_list()
number_of_passengers = df['Number of passengers'].to_list()
luggage_capacity = df['Luggage capacity'].to_list()
safety_rating = df['Safety rating'].to_list()
classification_of_vehicle = df['Classification of vehicle'].to_list()

3. Find the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

In [ ]:
#create list and store indices of med prices
med_price = []
for i in range(len(price)):
  if price[i] == 'med':
    med_price.append(i)
print(med_price)

#list comprehension
med_price_lc = [i for i in range(len(price)) if price[i] == 'med']
print(med_price_lc)

[5, 15, 19, 22, 25, 28]
[5, 15, 19, 22, 25, 28]

4. Find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results.

In [ ]:
#use normal if statements and for loops to determine the values in passengers that correspond to med
count_index = 0
number_of_passengers_med = []
for i in range(len(number_of_passengers)):
  if count_index<len(med_price) and i == med_price[count_index]:
    count_index+=1
    number_of_passengers_med.append(number_of_passengers[i])
print(number_of_passengers_med)

#much simpler two line for loop 
number_of_passengers_med_1 = []
for i in med_price:
  number_of_passengers_med_1.append(number_of_passengers[i])
print(number_of_passengers_med_1)

['more', '2', '2', '2', '4', '2']
['more', '2', '2', '2', '4', '2']

5. Find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

In [ ]:
price_high_maintenance_not_low = []
for i in range(len(price)):
  if price[i] == 'high' and not maintenance_cost[i] == 'low':
    price_high_maintenance_not_low.append(i)
print(price_high_maintenance_not_low)
print(price)
print(maintenance_cost)

[0, 1, 26, 30]
['high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']
['high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']

6. Find the list index values of each automobile having a price rating of "med using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your result. Be sure to print your results to the screen.

In [ ]:
#list comprehension
med_price_lc = [i for i in range(len(price)) if price[i] == 'med']
print(med_price_lc)

[5, 15, 19, 22, 25, 28]

7. Find the "number of passengers" value for each auto having a "price" value of "med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [ ]:
count_index_ls = 0
count_of_passengers_med_lc = [number_of_passengers[i] for i in med_price]
print(count_of_passengers_med_lc)

['more', '2', '2', '2', '4', '2']

8. Find the index value for each automobile having a price value of "high" and a maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [ ]:
price_high_maintenance_not_low_ls = [i for i in range(len(price)) if price[i] == 'high' and not maintenance_cost[i] == 'low']
print(price_high_maintenance_not_low_ls)

[0, 1, 26, 30]

#Nested List Comprehension

1. Consider the following list of lists: nlist = [ [1, 2, 3], [‘A’, ‘B’, ‘C’], [4, 5], [‘D’, ‘E’] ]. Extract each individual element of the component lists contained within nlist and add them to a new list.  Do NOT use a nested for loop, use a list comprehension.

In [ ]:
nlist = [ [1, 2, 3],['A','B','C'],[4,5],['D','E']]
ls = [j for i in nlist for j in i]
print(ls)

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']